.form-container {
    
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(14, 2, 2, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}
.h2{
    text-align: left;
}